llama-index
llama-index-llms-azure-openai
llama-index-embeddings-azure-openai
openai
python-dotenv
beautifulsoup4
lxml
requests
tiktoken
gradio
streamlit
langchain
langchain-text-splitters
transformers
torch
sentence-transformers
numpy
matplotlib
seaborn
tree-sitter
tree-sitter-python