langchain
langchain-openai
openai
python-dotenv
langgraph
langchain-community
tavily-python
langchain-tavily
beautifulsoup4
lxml
faiss-cpu
langchain-text-splitters
streamlit
chromadb
langchain-chroma
googlesearch-python
requests
tiktoken
gradio